@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}