@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #e6f2ff;
  /* background-image: url('../public/milad.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: contain;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  color: rgb(226, 226, 2);
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: 2.8rem;
  color: #000d1a;
  margin-left: -3.6rem;
}

h3 {
  font-size: 3rem;
}
h4{
  /* font-size: 2.5rem; */
  color: #000d1a;
  font-family: 'Cinzel', serif;}